* {
    font-family: "Exo 2", serif;
}

body {
    margin: 0px;
    padding: 0px;
}

#sidebar {
    border: 3px solid rgba(18, 51, 110, .6);
    width: 300px;
    border-radius: 25px;
    background-color: rgba(18, 51, 115, .8);
    height: 97vh;
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: column;
    transition: width .5s ease, height .5s ease;
    overflow: hidden;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 1);
    backdrop-filter: blur(10px);
    margin-top: 1vh;
    margin-left: 1vh;
}

#sidebar.shrink {
    width: 80px;
}

#sidebar.shrink .navText {
    display: none;
}

#sidebar.shrink .dropBtn {
    display: none;
}

#sidebar.shrink .hideNav {
    display: none;
}

ul {
    list-style: none;
    padding-block: 20px;
    padding-inline: 20px;
    margin: 0;
    font-size: 18px;
}

li {
    padding-bottom: 10px;
}

li.active a {
    color: #c91414;
    font-weight: 600;
}

li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    justify-content: space-between;
}

li a:hover {
    color: #adaaaa;
}

.navIcon {
    font-size: 30px;
    width: 30px;
    text-align: center;
}

#logo {
    width: 50%;
}

#logoContainer {
    text-align: center;
}

.dropBtn {
    margin-left: auto;
    cursor: pointer;
}

li:hover .hideNav {
    display: block;
}

.hideNav li a {
    color: white;
    text-decoration: none;
    display: block;
}

.hideNav li a:hover {
    color: #adaaaa;
}

.hideNav {
    display: none;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.dropBtn #btnUp {
    display: none;
}

li:hover .dropBtn #btnDown {
    display: none;
}

li:hover #btnUp {
    display: inline-block;
}

.menuBtn {
    margin-left: auto;
    margin-right: 27px;
    cursor: pointer;
    color: white;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.menuBtn #open {
    display: none;
}

#sidebar.shrink .menuBtn #open {
    display: inline-block;
}

#sidebar.shrink .menuBtn #close {
    display: none;
}

.logout {
    margin-top: auto;
    margin-left: auto;
    margin-right: 25px;
    margin-bottom: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#hide {
    opacity: 0;
}

@media (max-width: 500px) {
    #sidebar.shrink {
        height: 75px;
        width: 80px;
    }

    #sidebar.shrink .navIcon {
        display: none;
    }

    #sidebar.shrink .logout {
        display: none;
    }

    #sidebar.shrink #logoContainer {
        display: none;
    }
}